<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome Admin!</h1>

    <form action="http://localhost:5000/">
        <input type="submit" value="View chart" />
    </form>
    <br>

    <form action="http://localhost:5000/">
        <input type="submit" value="Clear list" />
    </form>
    <br>

    <form action="http://localhost:5000/logout">
        <input type="submit" value="Log out" />
    </form>
    <br>
</body>
</html>