<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome Admin!</h1>
    {% if action == 'cleared' %}
        <p>Sheet has been cleared.</p>
    {% endif %}

    <a href="https://docs.google.com/spreadsheets/d/1ge8Q4jAoJ1Z3d5JC-4A6ky1S3BLYGtsbWRsYiguaSpY" target="_blank">
        View the spreadsheet
    </a>
    <br>
    <br>

    <form action="http://localhost:5000/chart">
        <input type="submit" value="View graph" />
    </form>
    <br>

    <form action="http://localhost:5000/admin/cleared">
        <input type="submit" value="Clear list" />
    </form>
    <br>

    <form action="http://localhost:5000/logout">
        <input type="submit" value="Log out" />
    </form>
    <br>
</body>
</html>