<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
</head>
<body>
    <h1>Confirmation</h1>
        <table border = 1>
           {% for key, value in result.items() %}

            <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
            </tr>

           {% endfor %}
        </table>
    <br>

    <form action="http://localhost:5000/logout">
        <input type="submit" value="Logout" />
    </form>
    <br>

    <form action="http://localhost:5000/">
        <input type="submit" value="Register another" />
    </form>
</body>
</html>