<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Form</title>
</head>
<body>
    <div class="container">
    <h1 class="text-center">User registration</h1><br/>
    <form action = "http://localhost:5000/confirm" method = "POST">

        <div class="form-row form-group">
            <div class="form-group col-md-6">
                <label for="firstname" class="col-form-label">First Name</label>
                <input type = "text" name = "First Name" class ="form-control" id="firstname" placeholder="First Name"/>
            </div>
            <div class="form-group col-md-6">
                <label for="lastname" class="col-form-label">Last Name</label>
                <input type = "text" name = "Last Name" class="form-control" id="lastname" placeholder="Last Name"/>
            </div>
        </div>

        <div class = "form-row form-group col-md-12">
            <label for="numpeople" class="col-form-label">Number of People</label>
            <input type = "text" name = "# People" class="form-control" id="numpeople" placeholder="3"/>
        </div>

        <div class="form-row form-group col-md-12">
        <h3>Eye Color</h3>
        <div class="radio">
            <label><input type="radio" name="Eye Color" value="Brown">Brown</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="Eye Color" value="Blue">Blue</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="Eye Color" value="Green">Green</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="Eye Color" value="Other">Other</label>
        </div>
        </div>

        <div class="form-group form-row">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>